            /*Style.css - til dine custom styles*/

            p,
            ul {
                font-family: 'Oswald';
                font-weight: 100;
            }

            h1,
            h2,
            h3,
            h4 {
                font-family: 'Amatic SC';
            }

            body {
                background: #b5bcbc;
            }

            img {
                width: 100%;
            }

            #voresis {
                text-align: center;
            }

            #voresis .col-xs-12 {
                margin-bottom: 2em;
            }

            #hero {
                padding: 4em 0;
            }

            section {
                padding: 2em 0;
            }

            #navbar {
                background: rgba(234, 240, 233, 0.7)
            }

            #navbar img {
                width: 50%;
            }
