            /*Style.css - til dine custom styles*/

            p,
            ul {
                font-family: 'Oswald';
                font-weight: 100;
            }

            button {
                font-family: 'Oswald';
                font-weight: 100;
                margin-bottom: 20px;
            }

            h1,
            h2,
            h3,
            h4 {
                font-family: 'Amatic SC';
                padding-bottom: 20px;
            }


            h2 {
                font-size: 40px;
                font-weight: 600;
            }

            body {
                background: #b5bcbc;
            }

            img {
                width: 100%;
            }

            #event {
                text-align: center;
            }

            #opskrift {
                text-align: center;
            }

            #opskrift img {
                padding: 20px;
            }

            #voresis .col-xs-12 {
                margin-bottom: 2em;
            }

            #hero {
                padding: 4em 0;
            }

            section {
                padding: 2em 0;
            }

            #navbar {
                background: rgba(234, 240, 233, 0.7)
            }

            #navbar img {
                width: 50%;
            }


            footer {
                padding: 2em 0;
                background: rgba(234, 240, 233);
                text-align: center;
                font-family: 'Amatic SC';
            }

            #socialeikoner img {
                width: 20px;
                height: auto;
            }

            #logo img {
                width: 100px;
                height: auto;
                padding-top: 20px;
            }

            #om_moringa {
                padding-bottom: 20px;
            }
